.container{
    margin:auto;
    background-color: aqua;
    height:500px;
    width:400px;
   
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 35px;
    
}

.output {
    grid-column: 1 / -1;
    width: 320px;
    height: 75px;
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    
    }
    .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5em;
    }
    .output .current-operand {
    color: white;
    font-size: 2.5rem;
    }

.grid {
    display: grid;

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(4, 75px);
    gap: 12px;
    height: 100%; 
  }
  


button{
    width: 75px;
    height: 75px;
    border: 5px solid black;
    font-size: 40px;
    background-color: lightyellow;
    border-radius: 10px;
    
}

