html{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: lightgray;
}


header{
    
    padding:10px;
    
}

nav ul{
    list-style-type: none;
    justify-content: flex-end;
}

nav ul li:first-child {
    margin-right: auto;
  }
  
  nav ul li:last-child {
    margin-left: auto;
  }
  


nav ul{
    display: flex;
    width:100%;
   
}

nav{
    display:flex;
    
}

input{
    width: 235px;
    height: 35px;
    border-radius: 10px;

}

.container {
    display: flex;
    flex-wrap: wrap;
    width:90%;
  }
  
  .box {
    width: 32%;
    height: 32%;
    background-color: #f1f1f1;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    
    flex-direction: column;
  }

  .readBtn{
    background-color: lightgreen;
   border-radius: 10px;
    font-size: 24px;
    width: 175px;
    height: 50px;

    transition: 0.3s ease-in-out;

  }

  .noRead{
    background-color: lightcoral;
    border-radius: 10px;
     font-size: 24px;
     width: 175px;
     height: 50px;
 
     transition: 0.3s ease-in-out;
  }

  .noRead:hover {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: lightgray;
    filter: brightness(1.2);
     }


  .readBtn:hover {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: lightgray;
    filter: brightness(1.2);
     }

  .btn{
    background: none;
    border: none;
    font-size: 24px;

    transition: 0.3s ease-in-out;
  }
  
  .btn:hover {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: lightgray; 
    filter: brightness(1.2);
     }
  

     #formOverlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
      }
      
      #formContainer {
        width: 250px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 15px;
      }
      
      #formOverlay.active {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
    #formContainer > h2{
       text-align: center;
        
      }


      form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
      }

      .check{
        display: flex;
      
        gap: 25px;
      }

      #myCheckBox{

        width: 20px;
        height: 20px;
        
        accent-color: green;
      }